# Firebase
NEXT_PUBLIC_APIKEY=""
NEXT_PUBLIC_APPID=""
NEXT_PUBLIC_AUTHDOMAIN=""
NEXT_PUBLIC_MESSAGINGSENDERID=""
NEXT_PUBLIC_STORAGEBUCKET=""
NEXT_PUBLIC_PROJECTID=""

# Stripe
NEXT_PUBLIC_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_MONTHLY_PRICE_ID=""
NEXT_PUBLIC_YEARLY_PRICE_ID=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_WEBHOOK_LOCAL_SECRET=""

# Sendgrid
NEXT_PUBLIC_SENDGRID_API_KEY=""
NEXT_PUBLIC_SENDGRID_FROM_EMAIL=""

# General
NEXT_PUBLIC_MONTHLY_PRICE=""
NEXT_PUBLIC_YEARLY_PRICE=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"